@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,600&display=swap');

$undoubt-gradient: linear-gradient( 136deg, rgb(242,113,33) 0%, rgb(233,64,87) 50%, rgb(138,35,135) 100%);

body {
  font-family: 'Rubik', sans-serif;
  padding: 0;
  margin: 0;
}

.app {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.app-header {
  background-color: #ffffff;
  padding: 0 10%;

  &__page-title {
    text-align: center;
    font-style: normal;
    font-weight: 100;
    padding: 20px 0;

    h1 {
      font-weight: 300;
    }
  }
}

.app-content {
  margin-top: 10px;
  margin-bottom: 10px;

 & .loading-indicator {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
}

.app-footer {
  margin-top:auto;
  background-color: #E94057;
  color: white;
  padding: 15px 10%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  flex: 1 0 auto;

  & > div {
    flex: 0 0 50%;
    min-width: 300px;
  }

  & .legal-links {
    display: flex;
    justify-content: flex-end;

    & > a {
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      text-decoration: none;
      margin: 0 5px;

      &:hover {
        color: #430078;
      }
    }
  }

  & p {
    margin: 0;
  }
}

.undoubt-button {
  border-radius: 5px;
  font-family: Rubik;
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  padding: 10px 53px;
  text-transform: uppercase;
  cursor: pointer;
}

.undoubt-button a {
  text-decoration: none;
  color: inherit;
}

.undoubt-button.primary {
  background: $undoubt-gradient;
  color: white;
  font-weight: bold;
  opacity: 1;
  border: 0;
}

.undoubt-button.primary:hover {
  opacity: 0.9;
}

.undoubt-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.undoubt-button:disabled:hover {
  opacity: 0.5;
}

.undoubt-button.secondary {
  background: white;
  border: 1px solid #E94057;
  color: #E94057;
}

.undoubt-notification__icon {
  font-size: 15px;
  line-height: 15px;

  & > * {
    vertical-align: middle;
    margin: 0 5px;
  }

  & svg {
    width: 0.8em;
    height: 0.8em;
  }
}

.undoubt-notification__container.success {
  background-color: #43a047;
}

.undoubt-notification__container.error {
  background-color: #d32f2f;
}

/* MATERIAL-UI HACK */

.undoubt-input > .MuiFormControl-root > label.MuiInputLabel-outlined {
  background: white;
  padding: 0 5px;
}

.undoubt-input .MuiSelect-select:focus {
  background-color: white;
}

@media screen and (max-width: 1000px) {
  .new-event__buttons-section {
      min-width: auto;
      width: 95%;
  }
}
